.event-heading {
  font-family: 'eventHeading', 'Merriweather', sans-serif; /* Adjust as needed */
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


.support{
  background-image: url('./assets/hero1.png');
  position: relative;
}



/* bg-gradient-to-r from-red-500 via-yellow-400 to-orange-500 */